/*Applies background image to the body*/
html{
   background-size: cover;
   height:100%;
   /*background-image: url(https://swe.umbc.edu/~barwulo1/is448/HW3cb/HW3cb/background.jpg);*/
}
body {
   font-family: Arial, san-serif;
}

/* Contact Form Styles */
h1 {
   margin: 10px 0 0 0;
}
h4{
   margin: 0 0 20px 0;
}
#contact-form {
   background-color:#E0FFFF;
   padding: 10px 20px 30px 20px;
   max-width:100%;
   float: left;
   left: 50%;
   position: absolute;
   margin-top:30px;
   margin-left: -260px;
   border-radius:7px;
}
#contact-form input,   
#contact-form select,   
#contact-form textarea{ 
   font-size: 15px;  
   margin-bottom: 2px;
   font-family: Arial, san-serif;
} 
#contact-form input,   
#contact-form select,   
#contact-form textarea { 
   width:100%;
   background: #fff;
   border: 0; 
   border-radius: 4px;
   margin-bottom: 25px;  
   padding: 5px;  
}  
#contact-form input:focus,   
#contact-form select:focus,
#contact-form textarea:focus {  
   background-color: #E5E6E7; 
}  
#contact-form textarea {
   width:100%;
   height: 150px;
}
#contact-form button[type="submit"] {
   cursor:pointer;
   width:100%;
   border:none;
   background:#991D57;
   color:#E0FFFF;
   margin:0 0 5px;
   padding:10px;
   border-radius:5px;
}

